<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Engineered Momentum</title>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap"
			rel="stylesheet"
		/>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	:root {
		--primary: #0b132b;
		--background: #ffffff;
		--accent: #10b981;
		--neutral-light: #f3f4f6;
		--neutral-dark: #4b5563;
	}
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		font-family: 'Inter', sans-serif;
		background-color: var(--background);
		color: var(--primary);
	}
</style>
